.sidebar {
  width: 260px;
  background: #ffffff;
  padding: 20px;
  border-radius: 16px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.08);
  display: flex;
  flex-direction: column;
  gap: 24px;
  position: sticky;
  top: 20px;
  height: fit-content;
}

.sidebar h2 {
  font-size: 22px;
  font-weight: 700;
  margin-bottom: 10px;
  color:#292f36;
}

.filterSection h3 {
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 8px;
  color: #333;
}

.filterSection {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.filterGroup {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.filterGroup label {
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 15px; color: #333;
  cursor: pointer;
  transition: color .2s;
}

.filterGroup input[type="checkbox"] {
  width: 18px;
  height: 18px;
  accent-color: #2563eb; /* Синій, як у Tailwind */
  cursor: pointer;
 color-scheme: none;
}

.filterGroup label:hover {
  color: #2563eb;
}

select {
  padding: 8px 10px;
  border-radius: 8px;
  border: 1px solid #ccc;
  font-size: 15px;
  outline: none;
  transition: border-color .2s;
  color-scheme:none;
}

select:focus {
  border-color: #2563eb;
}